
<ng-template [ngIf]="todayPrayerTimes && monthlyData">
  <app-next-prayer-info
    [prayerTimes]="todayPrayerTimes"
    [monthlyTimes]="monthlyData"
    >
  </app-next-prayer-info>
  <app-prayer-time-table
    [prayerTimes]="todayPrayerTimes"
    [monthlyTimes]="monthlyData"
  >
  </app-prayer-time-table>
</ng-template>

<ng-template [ngIf]="!todayPrayerTimes || !monthlyData">
  <app-notification
    [title]="errorTitle"
    [message]="errorMessage"
    [status]="'error'"
    [size]="'l'"
  >
  </app-notification>
</ng-template>
