.container {
  margin-top: 3rem;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.tui-table {
  width: 50vw;
}

table tr:nth-child(even) {
  background-color: #dfdfdf;
  border-radius: 50px;
}

/* For PC and laptop screen */
@media (min-width: 992px) {
  table {
    margin-left: 150px;
  }
}

/* For smaller screen */
@media (max-width: 991px) {
  .tui-table {
    width: 85vw;
  }
}
