.container {
  margin-top: 3rem;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.t-island {
  width: fit-content;
}

.content-container {
  width: 80vw;
}

.next-prayer-title {
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.paragraph-lbl {
  margin-bottom: 0.3rem;
}

.countdown-lbl {
  margin-top: 0.2rem;
  font-weight: 800;
}

.next-prayer-section,
.current-zone-section {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 0.8rem;
}

.current-zone-section {
  margin-top: 0.8rem;
}

/* For smaller screen */
@media (max-width: 991px) {
  .container {
    margin-top: 1rem;
  }

  .content-container {
    width: 80vw;
  }
}

.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
}
