<header tuiNavigationHeader class="header">
  <a tuiNavigationLogo  tuilink routerLink="/" class="t-logo-link">
    <div class="t-content">
      <div class="t-logo-row">
        <img src="../../../../assets/mosque-logo.svg" alt="Logo" class="t-logo-img">
        <span class="tui-text_h5 t-title">Solatku</span>
      </div>
    </div>
  </a>
  <div class="t-right-menu">

    <!-- Install PWA -->
    <div *ngIf="isMobile" class="check-install-section"
      (click)="installPWA()"
      title="{{ 'solatku.check_install_section.title' | translate }}"
    >
      <tui-svg src="tuiIconDownloadLarge"></tui-svg>
    </div>

    <!-- Theme Switcher -->
    <div class="theme-section"
      (click)="changeTheme()"
      title="{{ 'solatku.zone_switcher_section.hint.change_theme' | translate }}"
    >
      <tui-svg [src]="themeIcon"></tui-svg>
    </div>

    <!-- Language Switcher -->
    <div
      tuiDropdownHover
      [tuiDropdown]="content"
      class="language-section"
      title="{{'solatku.zone_switcher_section.hint.change_language' | translate}}"
    >
      <tui-svg src="tuiIconGlobeLarge"></tui-svg>
      <ng-template #content>
        <tui-data-list (click)="changeLanguage($event)">
          <button tuiOption value="ms">
            {{ 'solatku.zone_switcher_section.change_language.malay' | translate }}
          </button>
          <button tuiOption value="en">
            {{ 'solatku.zone_switcher_section.change_language.english' | translate }}
          </button>
        </tui-data-list>
      </ng-template>
    </div>
  </div>
</header>
