.header {
  display: flex;
  height: min-content;
  justify-content: space-between;
  align-items: center;
}

.t-logo-img {
  width: 2.4rem;
  margin-right: .625rem;
}

.t-logo-link {
  display: flex;
  text-decoration: none;
}

.t-logo-row {
  display: flex;
  color: white;
  align-items: center;
}

.t-title {
  margin: 0 auto;
}

.t-right-menu {
  display: flex;
  align-items: center;
}

.language-section,
.theme-section {
  margin-right: 1rem;
}

.language-section:hover,
.theme-section:hover {
  cursor: pointer;
}
